<head>
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <link rel="shortcut icon" href="{{ .Site.BaseUrl }}/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseUrl }}/css/style.css" />
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
</head>
